{% extends 'base.html.twig' %}

{% block body %}
        
<div class="container">
    <ul>
        <li>
            <a href="{{ path('commentaire', { 'travail_id': travail.id}) }}" class="btn btn-primary">Ajouter Commentaire</a>
            <a href="{{ path('fiche_chantier_index') }}" class="btn btn-warning">Retour</a>
        </li>
    </ul>
    
    <ul>
        <li>
            <a href="{{ path('fiche_chantier_edit', { 'id': travail.id }) }}" class="btn btn-success">Modifier</a>
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer" class="btn btn-danger">
            {{ form_end(delete_form) }}
        </li>
    </ul>

    <div class="col-sm-4">
        <table class ="table table-bordered">
            <tr>
                <th>Numero client :</th>
                <th>Nom client :</th>
                <th>Prenom :</th>
            </tr> 

            <tr>
                <td>{{ travail.client.id }}</td>
                <td>{{ travail.client.nom }}</td>
                <td>{{ travail.client.prenom }}</td>
            </tr>
        </table>
    </div>
            
    <div class=" col-sm-12">
        <ul class="list-group col-sm-2 hidden-xs">
            <li class="list-group-item">Nature des travaux</li>
            <li class="list-group-item">Prix</li>
            <li class="list-group-item">Date Devis</li>
            <li class="list-group-item">Date Travaux</li>            
            <li class="list-group-item">Moyen de paiement</li>
        </ul>
        
        <ul class="list-group col-sm-4 col-xs-12">
            <li class="list-group-item" id="titre">{{ travail.titre }}</li>
            <li class="list-group-item" id="prix">{{ travail.prix }}</li>
            <li class="list-group-item" id="dateDevis">{% if travail.dateDevis %}{{ travail.dateDevis|date('Y-m-d') }}{% endif %}</li>
            <li class="list-group-item" id="dateDebut">{% if travail.dateDebut %}{{ travail.dateDebut|date('Y-m-d') }}{% endif %}</li>            
            <li class="list-group-item" id="paiement">{{ travail.modePaiment }}</li>
        </ul> 
        
        <ul class="list-group list-unstyled col-sm-6 col-xs-12">
            <li><label for="note">Note</label></li>        
            <li><textarea disabled="disabled" id="note" class="list-group-item col-xs-12" rows="8">{{ travail.description }}</textarea></li>
        </ul> 
    </div>
    
    <div class="col-sm-12 contour">
        <ul class="list-group col-sm-2 hidden-xs">
            <li class="list-group-item">Garantie</li>
            <li class="list-group-item">Devis</li>
            <li class="list-group-item">ProcessVerbal</li>
            <li class="list-group-item">Facture</li>  
        </ul>
        
        <ul class="list-group col-sm-4 col-xs-8">
            <li class="list-group-item" id="garantie">{{ travail.garantie }}</li>
            <li class="list-group-item" id="devis">{{ travail.devis }}</li>
            <li class="list-group-item" id="processVerbal">{{ travail.processVerbal }}</li>
            <li class="list-group-item" id="facture">{{ travail.facture }}</li>            
        </ul> 
        
        <a class=" btn btn-success" href="{{path("app_photo_index") }}">Accéder aux photos</a>
    </div> 
    
    <div class="col-sm-10">     
        <table class="table table-bordered">
            <tr>
                <th>Utilisateur</th>
                <th>Commentaire</th>
            </tr>

            {% for commentaire in travail.commentaires %}
            <tr>
                <td>{{commentaire.fosuser }}</td>
                <td>{{commentaire.commentaire}}</td> 
            </tr>
            {% endfor %} 
        </table> 
    </div>
</div>

{% endblock %}
