{% extends 'base.html.twig' %}

{% block body %}
    

<div class="container">
    <h2>Details Du Chantier</h2>
        <table class="table table-bordered" id="details_chantier">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ tRA_travail.id }}</td>
                </tr>
                <tr>
                    <th>Titre</th>
                    <td>{{ tRA_travail.titre }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ tRA_travail.description }}</td>
                </tr>
                <tr>
                    <th>Prix</th>
                    <td>{{ tRA_travail.prix }}</td>
                </tr>
                <tr>
                    <th>Datedebut</th>
                    <td>{% if tRA_travail.dateDebut %}{{ tRA_travail.dateDebut|date('Y-m-d') }}{% endif %}</td>
                </tr>
                <tr>
                    <th>Daterappel</th>
                    <td>{% if tRA_travail.dateRappel %}{{ tRA_travail.dateRappel|date('Y-m-d') }}{% endif %}</td>
                </tr>
                <tr>
                    <th>Modepaiment</th>
                    <td>{{ tRA_travail.modePaiment }}</td>
                </tr>
                <tr>
                    <th>Lieux</th>
                    <td>{{ tRA_travail.lieux }}</td>
                </tr>
                <tr>
                    <th>Garantie</th>
                    <td>{{ tRA_travail.garantie }}</td>
                </tr>
                <tr>
                    <th>Devis</th>
                    <td>{{ tRA_travail.devis }}</td>
                </tr>
                <tr>
                    <th>Processverbal</th>
                    <td>{{ tRA_travail.processVerbal }}</td>
                </tr>
                <tr>
                    <th>Facture</th>
                    <td>{{ tRA_travail.facture }}</td>
                </tr>

            </tbody>
        </table>
</div>
    
    <ul>
        <li>
            <a href="{{ path('fiche_chantier_index') }}" class="btn btn-warning">Retour</a>
        </li>
        <li>
            <a href="{{ path('fiche_chantier_edit', { 'id': tRA_travail.id }) }}" class="btn btn-success">Modifier</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="supprimer" class="btn btn-danger">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
