{% extends 'base.html.twig' %}

{% block title %}Creation client{% endblock %}

{% block body %}
    <div class="container">
                {{ form_start(edit_form) }}
                    {{form_widget(edit_form)}}
                    <input type="submit" value="Enregister les modifications" class="btn btn-success" />
                {{ form_end(edit_form) }}
            </div>
        </div>    
        
            <div class="col-md-12" 
                <ul>
                    <li>
                        <a href="{{ path('fiche_client_index') }}" class="btn btn-warning ">Retour</a>
                    </li>
                    <li>
                        {{ form_start(delete_form) }}
                            <input type="submit" value="Supprimer" class="btn btn-danger">
                        {{ form_end(delete_form) }}
                    </li>
                </ul>
            </div>  
    </div>
{% endblock %}
