{% extends 'base.html.twig' %}

    {% block title %}Enregistrer un client{% endblock %}


{% block body %}

<div class="container">
    <h2>Liste client</h2>
        <div class="row">
            <div class="col-ms-12"> 
                <table class="table table-striped" id="liste_client">
                    <thead>
                        <tr>
                            <th>Numero client</th>
                            <th>Nom</th>
                            <th>Prenom</th>
                            <th>Telephone</th>
                            <th>Email</th>
                            <th>Provenance</th>
                            <th>Adresse</th>
                            <th>Code postal</th>
                            <th>Ville</th>
                            <th>Note</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
            </div>
        </div>

                    <tbody>
                        {% for cli_client in cli_clients %}
                            <tr>
                                <td><a href="{{ path('fiche_client_show', { 'id': cli_client.id }) }}">{{ cli_client.id }}</a></td>
                                <td>{{ cli_client.nom }}</td>
                                <td>{{ cli_client.prenom }}</td>
                            <td>{{ cli_client.telephone }}</td>
                                <td>{{ cli_client.email }}</td>
                                <td>{{ cli_client.provenance }}</td>
                                <td>{{ cli_client.adresse }}</td>
                                <td>{{ cli_client.codePostal }}</td>
                                <td>{{ cli_client.ville }}</td>
                                <td>{{ cli_client.note }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
{% endblock %}
