{% extends 'base.html.twig' %}

{% block body %}
    
<div class="row">    
    <h2 class="Bottom">Detail Du Client</h2>
</div>

<div class="container">
    <form action="" method="post">
        <div class="col-xs-12">
            <div class="col-sm-2 hidden-xs">
                <label for="id" class="list-group-item">Numero client</label>
                <label for="nom" class="list-group-item">Nom</label>
                <label for="prenom" class="list-group-item">Prenom</label>
                <label for="provenance" class="list-group-item">Provenance</label>
            </div>
            
            <div class="col-sm-4 col-xs-12">
                <input id="id" name="id" disabled="disabled" class="list-group-item col-xs-12" value="{{ client.id }}">
                <input id="nom" name="nom" disabled="disabled" class="list-group-item col-xs-12" value="{{ client.nom }}">
                <input id="prenom" name="prenom" disabled="disabled" class="list-group-item col-xs-12" value="{{ client.prenom }}">
                <input id="provenance" name="provenance" disabled="disabled" class="list-group-item col-xs-12" value="{{ client.provenance }}">
            </div>
        </div>
        
        <div class="col-xs-12">
            <div class="col-sm-2 hidden-xs, top">
                    <label for="tel" class="list-group-item">Téléphone</label>
                    <label for="adresse" class="list-group-item">Adresse</label>
                    <label for="cp" class="list-group-item">Code Postal</label>
                    <label for="ville" class="list-group-item">Ville</label>
                    <label for="mail" class="list-group-item">Email</label>                
            </div>
            
            <div class="col-sm-4 col-xs-12, top">
                    <input id="tel" name="tel" disabled="disabled" class="list-group-item col-xs-12" value="{{ client.telephone }}">
                    <input id="adresse" name="adresse" disabled="disabled" class="list-group-item col-xs-12" value="{{ client.adresse }}">
                    <input id="cp" name="cp" disabled="disabled" class="list-group-item col-xs-12" value="{{ client.codePostal }}">
                    <input id="ville" name="ville" disabled="disabled" class="list-group-item col-xs-12" value="{{ client.ville }}">
                    <input id="email" name="email" disabled="disabled" class="list-group-item col-xs-12" value="{{ client.email }}">
            </div>
            
            <div class="col-sm-6 col-xs-12">
                <label for="note">Note</label>
                <textarea name="note" id="note" disabled="disabled" class="form-control"  rows="9">{{ client.note }}</textarea>
            </div>
        </div>

        
        <div class="col-sm-6 col-xs-12">
            <a class="btn btn-success" type="submit" href="{{ path('fiche_client_edit', {'id': client.id })}} ">Modifier</a>
            <a class="btn btn-primary" href="{{ path('fiche_chantier_new',{'utilisateur_id': client.id}) }}">Ajouter un chantier</a>
            <a href="{{ path('fiche_client_index') }}" class="btn btn-warning">Retour</a>
                {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer" class="btn btn-danger">
            {{ form_end(delete_form) }}
        </div>
        
        <div class="col-sm-offset-2 col-sm-6 col-xs-12">
            <br />
            <ul class="list-inline">
                <li class="list-group-item col-xs-4">D. Travaux</li>                                   
                <li class="list-group-item col-xs-5">Nature des travaux</li>
                <li class="list-group-item col-xs-3 text-right">Prix</li>
            </ul>
                {# <a href="{{ tRA_travail.id }}"><ul class="list-inline">
                    <li class="list-group-item col-xs-4">"{{ form.dateDebut }}"</li>                                   
                    <li class="list-group-item col-xs-5">"{{ form.titre }}"</li>
                    <li class="list-group-item col-xs-3 text-right">"{{ form.prix }}" €</li>
                </ul></a>'; #}
        </div>
        {# {{ dump(Travail)}} #}
    </form>
</div>

{% endblock %}