{% extends 'base.html.twig' %}

{% block body %}

{{form_start(form)}}

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            {{form_label(form.commentaire , 'Ajouter un Commentaire :')}}
        </div>  
    </div>
    
    <div class="row">
        <div class="col-md-12">
            {{form_errors(form.commentaire)}}
            {{form_widget(form.commentaire, {'attr':{'textarea':'rows', 'rows': '10', 'class': "form-control" }} )}}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3">
            <input  type="submit" value="Enregistrer" class="btn btn-success btn-block">
            <a href="{{ path('fiche_chantier_show', {'id': commentaire.travail.id}) }}" class="btn btn-warning btn-block">Retour</a>
        </div>
    </div>
</div>
{{form_end(form)}}

{% endblock %}
